.navbar {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background: #ABB6BB;
    overflow: scroll;
    padding-top: 4rem;
    width: 30%;
    right: 0;
    top: 0;
    box-shadow: -2px 0 5px 0 rgba(0,0,0,0.75);

    ul {
        list-style-type: none;

        li {
            font-family: 'Philosopher', sans-serif;
            font-size: 2rem;
            padding: 1rem;
            border-bottom: 1px solid #F9F7F3;

            .link {
                color: #F9F7F3;
                text-decoration: none;

                span {
                    font-size: 1.5rem;
                }
            }
        }
    }
}





