@import "src/style/helpers/variables";




.title {
  color: #5E0406;
  font-family: 'Dirty', sans-serif;
  font-size: 3rem;
  padding: 50px;

  span {
    font-family: 'Miama Nueva', cursive;
    color: #1F859D;
    height: 5rem;
  }
}