@import "style/helpers/variables";

@font-face {
  font-family: 'Caslon Antique';
  src: local('Caslon Antique'), url("./assets/fonts/Caslon Antique.otf") format('opentype');

}

@font-face {
  font-family: 'Handelson';
  src: local('Handelson'), url("./assets/fonts/handelson.otf") format('opentype');
}

@font-face {
  font-family: 'Trajan Pro 3';
  src: local('Trajan Pro 3'), url("./assets/fonts/TrajanPro.otf") format('opentype');
}
