@font-face {
  font-family: 'Miama Nueva';
  src: local('Miama Nueva'), url("./assets/fonts/miama.otf") format('opentype');
}

@font-face {
  font-family: 'Dirty';
  src: local('Dirty'), url("./assets/fonts/dirty.otf") format('opentype');
}
